<a href="https://colab.research.google.com/github/Alcor2026/lab2/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Lab2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 0 (1 балл)

Данные, которые нужно использовать для выполнения задания, возьмите [здесь](https://www.kaggle.com/parulpandey/palmer-archipelago-antarctica-penguin-data).

Данные расположены в двух таблицах: **penguins_iter** и **penguins_size**. Для этой лабораторной работы вам понадобится только таблица **penguins_size**.

**penguins_size** содержит следующую информацию:
* `species`: вид, к которому относится пингвин
* `culmen_length_mm`: длина клюва
* `culmen_depth_mm`: глубина клюва
* `flipper_length_mm`: длина ласт
* `body_mass_g`: масса тела
* `island`: название острова, на котором пингвин обитает
* `sex`: пол пингвина

1. Загрузите файл с данными к себе на Гугл диск и подключите его в Google Colab через `mount.drive`.
2. Выведите общую статистику по всем числовым и нечисловым столбцам с помощью функции `describe()`.
3. Узнайте размеры датасета с помощью функции `shape`.
4. Выведите 4 первые строки датасета.

In [ ]:
import pandas as pd
import numpy as np

pinguins = pd.read_csv("/content/sample_data/penguins_size.csv")
print("общая статистика:")
print(pinguins.describe())
print("\nРазмер:")
print(pinguins.shape)

общая статистика:
       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

Размер:
(344, 7)

# Задание 1 (1 балл)

1. Узнайте, сколько видов пингвинов представлено в таблице.
2. Посчитайте долю пингвинов каждого вида.
3. Выведите количество пингвинов, обитающих на каждом из островов.

In [ ]:
from pandas._libs.tslibs.vectorized import normalize_i8_timestamps
print("Количество видов:")
print(len(pinguins.species.unique()))
print("\nДоля пингвинов каждого вида:")
print(pinguins.species.value_counts(normalize=True))
print("\nКоличество пингвинов, обитающих на каждом из островов:")
print(pinguins.island.value_counts())

Количество видов:
3

Доля пингвинов каждого вида:
Adelie       0.441860
Gentoo       0.360465
Chinstrap    0.197674
Name: species, dtype: float64

Количество пингвинов, обитающих на каждом из островов:
Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

# Задание 2 (1 балл)

1. Найдите id пингвина с самым длинным клювом и с самым коротким. Выведите всю информацию о каждом из этих пингвинов в виде одной таблицы.
2. Посчитайте, насколько самый длинный клюв длиннее самого короткого.

# Задание 3 (1 балл)

1. Постройте корреляционную матрицу для значений столбцов `culmen_length_mm`, `culmen_depth_mm`, `flipper_length_mm`, `body_mass_g`. 
2. Результат покажите на тепловой карте (heatmap).

In [ ]:
pinguins[["culmen_length_mm", "culmen_depth_mm", "flipper_length_mm", "body_mass_g"]].corr().style.background_gradient(cmap='cool')

# Задание 4 (2 балла)

1. О пингвинах какого вида в таблице больше всего недостающих данных? (Строк с `NaN`)
2. Какой информации о пингвинах чаще всего не хватает?

In [ ]:
counters = {spec: 0 for spec in pinguins.species.unique()} 

for index, row in pinguins.iterrows():


  cNaN = row.isnull().sum()
  counters[row.species] += cNaN

print("О пингвинах этого вида в таблице больше всего недостающих данных: " + max(counters, key=counters.get))


print("Чаще всего нехватает информации о " + pinguins.isnull().sum(axis=0).idxmax())

О пингвинах этого вида в таблице больше всего недостающих данных: Adelie
Чаще всего нехватает информации о sex

# Задание 5 (2 балла)

1. По данным из таблицы узнайте, равномерно ли демографиески (процент мужских и женских особей) пингвины распределены по каждому из островов. Считаем, что равномерно, если разница составляет не более 3%.
2. Результат покажите на столбиковой диаграмме.

In [ ]:
# PUT YOUR CODE HERE

# Задание 6 (2 балла)

1. Считая, что длина ласт пингвина составляет треть его роста, рассчитайте индекс массы тела каждого пингвина. Определите самый крупный вид.
2. В каком количестве популяция этого вида представлена на каждом из островов? Результат покажите на круговой диаграмме.

In [ ]:
# PUT YOUR CODE HERE